/**
 * Copyright (c) 2017-present, Facebook, Inc.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

@media (min-width: 997px) {
  .sidebar {
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
    padding-top: var(--ifm-navbar-height);
  }

  .sidebar::-webkit-scrollbar {
    width: 7px;
  }

  .sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .sidebarLogo {
    display: flex !important;
    align-items: center;
    position: absolute;
    top: 0;
    margin: 0 var(--ifm-navbar-padding-horizontal);
    height: var(--ifm-navbar-height);
  }

  .sidebarLogo img {
    margin-right: 0.5rem;
    height: 2rem;
  }

  .menu {
    padding: 0.5rem;
  }

  .switchContainer {
    flex: 1;  
    display: flex; 
    background-color: var(--ifm-pre-background); 
    align-items: center; 
    justify-content: center;
    padding: 1rem 0; 
    border-bottom: 1px solid var(--ifm-contents-border-color);
  }
}

.switchContainerResponsive {
  background-color: var(--ifm-pre-background); 
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebarLogo {
  display: none;
}

.sidebarMenuIcon {
  vertical-align: middle;
}

.sidebarMenuCloseIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-size: 1.5rem;
  font-weight: var(--ifm-font-weight-bold);
  line-height: 0.9;
  width: 24px;
}
